<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <title>xVectorLabs Home</title>
</head>
<body>
    <header>
        <div class="wrapper">        
            <div class="logo">
                <img src="https://media-exp1.licdn.com/dms/image/C510BAQGP893fbV10Lg/company-logo_200_200/0/1571897585127?e=2159024400&v=beta&t=enO5pQuNNjW4-d5RUhyO8PAhYgX73icteOp1p8g5YW0" alt="">
            </div>
            <ul class="nav-area">
                <li><a class = "current" href="/">Home</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href="/plot">Plot</a></li>
            </ul>
        </div>

        <div class="welcome-text">
            <h1>Visualize CSV</h1>
            <a href="/plot">Task</a>
        </div>
    </header>
</body>
</html>